@define-color accent_color @orange_4;
@define-color accent_bg_color @orange_4;
@define-color accent_fg_color alpha(white, 1);

.dragndrop-overlay {
  background-color: alpha(@accent_color, 0.35);
  color: @accent_fg_color;
  margin: 24px;
  border-radius: 8px;
}

textview {
  background: none;
}
